/**
  * Alerts
  */
  
.alert {
    $self: &;
    background-color: $white;
    border: 1px solid $grey-400;
    border-radius: 0.25em;
    color: $grey-800;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    padding: 0.5em 0.5rem;
    margin-bottom: 1rem;

    a {
        color: inherit;
        font-weight: bold;
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($grey-800, 0.5);
        }
    }

    &__text {
        line-height: 1.6;
        margin-right: auto;
        padding: 0.25em 0;
    }
    
    &__icon {
        margin-right: 0.5em;
        opacity: 0.5;
    }

    &__close {
        align-self: baseline;
        margin-left: auto;
        opacity: 0.5;
        outline: none;
        padding: 0;

        &:focus,
        &:hover {
            opacity: 1;
        }
        &:focus {
            border-radius: 0.25em;
            box-shadow: 0 0 0 0.2rem rgba($grey-800, 0.5);
        }
    }

    &--overlay {
        background-color: $white;
        box-shadow:  0 1px 3px $grey-600;
        position: absolute;
        top: 5rem;
        width: 100%;
        z-index: 1000;

        @include layout-md {
            & {
                left: 50%;
                margin-left: -33.333%;
                width: 66.667%;
            }
        }
    }

    &--info {
        border-color: $info;
        color: $info;
        a:focus,
        & > #{ $self }__close:focus {
            box-shadow: 0 0 0 0.2rem rgba($info, 0.5);
        }
    }
    &--success {
        border-color: $green;
        color: $green;
        a:focus,
        & > #{ $self }__close:focus {
            box-shadow: 0 0 0 0.2rem rgba($green, 0.5);
        }
    }
    &--danger {
        border-color: $red;
        color: $red;
        a:focus,
        & > #{ $self }__close:focus {
            box-shadow: 0 0 0 0.2rem rgba($red, 0.5);
        }
    }
    &--warning {
        border-color: $warning;
        color: $warning;
        a:focus,
        & > #{ $self }__close:focus {
            box-shadow: 0 0 0 0.2rem rgba($warning, 0.5);
        }
    }

    &--sm {
        padding: 0 0.5rem;

        & > #{ $self }__text {
            line-height: normal;
        }

        & > #{ $self }__icon {
            margin-right: 0.25em;
        }

        & > #{ $self }__icon,
        & > #{ $self }__close {
            padding-top: 0.3333em;
            opacity: 0.75;
        }
    }
}
