/**
  * Buttons
  */

// button reset
button,
[type="button"],
[type="submit"],
[type="reset"] {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: none;
    padding: 0;
}

.button {
    background-color: $white;
    border: solid $grey-400 1px;
    border-radius: 0.25em;
    color: $black;
    display: inline-block;
    margin-top: 4px;
    padding: calc(0.5em + 1px) 1em;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    &:focus,
    &:hover,
    &:hover:visited,
    &:active {
        background-color: $grey-700;    
        border-color: $black;
        border-width: 1px;
        box-shadow: none;
        color: $white;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba($grey-700, 0.5);
    }
    &:visited {
        color: $black;
    }
    &--dark {
        background-color: $grey-700;
        border-color: $black;
        color: $white;
        &:focus,
        &:hover,
        &:hover:visited,
        &:active {
            background-color: $grey-900;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($grey-900, 0.5);
        }
        &:visited {
            color: $white;
        }
    }

    &--primary {
        border-color: $primary;
        color: $primary;
        &:focus,
        &:hover,
        &:hover:visited,
        &:active {
            background-color: $primary;
            border-color: $primaryDark;
            color: $white;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
        }
        &:visited {
            color: $primary;
        }
        &-dark {
            background-color: $primary;
            border-color: $primary;
            color: $white;
            &:focus,
            &:hover,
            &:hover:visited,
            &:active {
                background-color: darken($primary, 8%);
                border-color: $primaryDark;
                color: $white;
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(darken($primary, 8%), 0.5);
            }
            &:visited {
                color: $white;
            }
        }
    }

    &--secondary {
        border-color: $secondary;
        color: $secondary;
        &:focus,
        &:hover,
        &:hover:visited,
        &:active {
            background-color: $secondary;
            border-color: $secondaryDark;
            color: $white;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($secondary, 0.5);
        }
        &:visited {
            color: $secondary;
        }
        &-dark {
            background-color: $secondary;
            border-color: $secondary;
            color: $white;
            &:focus,
            &:hover,
            &:hover:visited,
            &:active {
                background-color: darken($secondary, 8%);
                border-color: $secondaryDark;
                color: $white;
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(darken($secondary, 8%), 0.5);
            }
            &:visited {
                color: $white;
            }
        }
    }

    &--danger {
        border-color: $red;
        color: $red;
        &:focus,
        &:hover,
        &:hover:visited,
        &:active {
            background-color: $red;
            border-color: $dangerDark;
            color: $white;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($red, 0.5);
        }
        &:visited {
            color: $red;
        }
        &-dark {
            background-color: $red;
            border-color: $red;
            color: $white;
            &:focus,
            &:hover,
            &:hover:visited,
            &:active {
                background-color: darken($red, 8%);
                border-color: $dangerDark;
                color: $white;
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(darken($red, 8%), 0.5);
            }
            &:visited {
                color: $white;
            }
        }
    }

    &--warning {
        border-color: $warning;
        color: $warning;
        &:focus,
        &:hover,
        &:hover:visited,
        &:active {
            background-color: $warning;
            border-color: $warningDark;
            color: $white;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($warning, 0.5);
        }
        &:visited {
            color: $warning;
        }
        &-dark {
            background-color: $warning;
            border-color: $warning;
            color: $white;
            &:focus,
            &:hover,
            &:hover:visited,
            &:active {
                background-color: darken($warning, 8%);
                border-color: $warningDark;
                color: $white;
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(darken($warning, 8%), 0.5);
            }
            &:visited {
                color: $white;
            }
        }
    }

    &--success {
        border-color: $green;
        color: $green;
        &:focus,
        &:hover,
        &:hover:visited,
        &:active {
            background-color: $green;
            border-color: $successDark;
            color: $white;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($green, 0.5);
        }
        &:visited {
            color: $green;
        }
        &-dark {
            background-color: $green;
            border-color: $green;
            color: $white;
            &:focus,
            &:hover,
            &:hover:visited,
            &:active {
                background-color: darken($green, 8%);
                border-color: $successDark;
                color: $white;
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(darken($green, 8%), 0.5);
            }
            &:visited {
                color: $white;
            }
        }
    }

    &--info {
        border-color: $info;
        color: $info;
        &:focus,
        &:hover,
        &:hover:visited,
        &:active {
            background-color: $info;
            border-color: $infoDark;
            color: $white;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($info, 0.5);
        }
        &:visited {
            color: $info;
        }
        &-dark {
            background-color: $info;
            border-color: $info;
            color: $white;
            &:focus,
            &:hover,
            &:hover:visited,
            &:active {
                background-color: darken($info, 8%);
                border-color: $infoDark;
                color: $white;
            }
            &:focus {
                box-shadow: 0 0 0 0.2rem rgba(darken($info, 8%), 0.5);
            }
            &:visited {
                color: $white;
            }
        }
    }

    &--link {
        background-color: transparent;
        border: none;
        box-shadow: none;
        color: $primary;
        padding: calc(0.5em + 1px) calc(1em + 1px);
        text-decoration: underline;
        &:focus,
        &:hover,
        &:hover:visited,
        &:active {
            background-color: inherit;
            color: darken($primary, 12%);
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($primary, 0.5);
        }
        &:visited {
            color: $primary;
        }
    }

    &--lg {
        font-size: 1.25em;
        padding: 0.5em 1em calc(0.5em - 1px) 1em;
    }

    &--sm {
        font-size: 0.9em;
        padding: 0.25em 0.5em;
    }
}