@use 'variables' as *;

/**
  * Cards
  */

.card {
  $self: &;
  background-color: var(--white);
  border: 1px solid $grey-400;
  border-color: var(--grey400);
  border-radius: $border-radius;
  overflow: hidden;

  &--primary {
    border-color: var(--primary);

    #{ $self }__title {
      background-color: var(--white);
      border-color: var(--primary);
      color: var(--primary);
    }

    &-dark {
      border-color: var(--primaryDark);

      #{ $self }__title {
        background-color: $primary;
        border-color: var(--primaryDark);
        color: $white;
      }
    }
  }

  &--secondary {
    border-color: var(--secondary);

    #{ $self }__title {
      background-color: var(--white);
      border-color: var(--secondary);
      color: var(--secondary);
    }

    &-dark {
      border-color: var(--secondaryDark);

      #{ $self }__title {
        background-color: $secondary;
        border-color: var(--secondaryDark);
        color: $white;
      }
    }
  }

  &--info {
    border-color: var(--info);

    #{ $self }__title {
      background-color: var(--white);
      border-color: var(--info);
      color: var(--info);
    }

    &-dark {
      border-color: var(--infoDark);

      #{ $self }__title {
        background-color: $info;
        border-color: var(--infoDark);
        color: $white;
      }
    }
  }

  &--success {
    border-color: var(--green);

    #{ $self }__title {
      background-color: var(--white);
      border-color: var(--green);
      color: var(--green);
    }

    &-dark {
      border-color: var(--successDark);

      #{ $self }__title {
        background-color: $green;
        border-color: var(--successDark);
        color: $white;
      }
    }
  }

  &--warning {
    border-color: var(--warn);

    #{ $self }__title {
      background-color: var(--white);
      border-color: var(--warn);
      color: var(--warn);
    }

    &-dark {
      border-color: var(--warningDark);

      #{ $self }__title {
        background-color: $warning;
        border-color: var(--warningDark);
        color: $white;
      }
    }
  }

  &--danger {
    border-color: var(--red);

    #{ $self }__title {
      background-color: var(--white);
      border-color: var(--red);
      color: var(--red);
    }

    &-dark {
      border-color: var(--dangerDark);

      #{ $self }__title {
        background-color: $red;
        border-color: var(--dangerDark);
        color: $white;
      }
    }
  }

  &__title {
    background-color: var(--silver);
    border-bottom: 1px solid;
    border-bottom-color: var(--grey400);
    padding: 1rem;

    & > * {
      font-size: 1.2rem;
      margin: 0;
    }
  }

  &__body {
    padding: 1rem;

    & > * {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
